
<%- include('../components/head.ejs') %>

    <!-- Main Content -->
    <div id="content">





        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                    aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>



        </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">



            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#createBank">
                        <i class="fas fa-plus-circle fa-sm text-white"></i> Create Data
                        </button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>pemesananId</th>
                                    <th>metodeBayarId</th>
                                    <th>Harga</th>
                                    <th>Tanggal</th>
                                    <th>status</th>
                                    <th>Action</th>

                                    
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>wert</td>
                                    <td>61</td>
                                    <td>
                                        <button>edit</button>
                                        <button>delete</button>
                                    </td>
                                    
                                </tr>
                                
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>

        </div>
        
        <!-- Modal Create -->
<div class="modal fade" id="createbank" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title">Create Data</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="bankFormCreate" action="/admin/create-bank" method="post" enctype="multipart/form-data">
                <div class="modal-body">     
                    
                    <div class="form-group">
                        <label for="pemesananIdBank" class="font-weight-bold"> pemesananId </label>
                        <input type="text" class="form-control pemesananId" name="pemesananId" id="pemesananIdBank"
                            placeholder="add pemesananId" autocomplete="off">
                        <div class="errorMessage text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="metodeBayarIdBank" class="font-weight-bold"> metodeBayarId </label>
                        <input type="text" class="form-control metodeBayarId" name="metodeBayarId" id="metodeBayarIdBank"
                            placeholder="add metodeBayar" autocomplete="off">
                        <div class="errorMessage text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="hargaIdBank" class="font-weight-bold"> hargaId </label>
                        <input type="text" class="form-control hargaId" name="hargaId" id="hargaIdBank"
                            placeholder="add harga" autocomplete="off">
                        <div class="errorMessage text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="tanggalIdBank" class="font-weight-bold"> tanggalId </label>
                        <input type="text" class="form-control tanggalId" name="tanggalId" id="tanggalIdBank"
                            placeholder="add tanggal" autocomplete="off">
                        <div class="errorMessage text-danger"></div>
                    </div>
                    <div class="form-group">
                        <label for="statusIdBank" class="font-weight-bold"> statusId </label>
                        <input type="text" class="form-control statusId" name="statusId" id="statusIdBank"
                            placeholder="add status" autocomplete="off">
                        <div class="errorMessage text-danger"></div>
                    </div>
                    
                    
                    
                </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-save"></i>
                    Save
                </button>
            </div>
            </form>
        </div>
    </div>
</div>

    </div>
    <!-- End of Main Content -->
    <%- include('../components/bottom.ejs') %>
